<%- include ("partials/header")%>
    <title>CampGrounds Around the world</title>
</head>
<body>
    <ul>
        <% for(var i=0;i!=2;i++) %>
        <% { %>
            <li>
                <%- campgrounds[i].name %>
                <br>
                <%- campgrounds[i].imageURL %>
            </li>
        <% } %>
    </ul>

<%- include ("partials/footer")%>