<h1>Create a new Campgrounds</h1>
<form action="/campgrounds" method="post">
    <input type="text" name="name">
    <input type="text" name="places">
    <button type="submit">Submit</button>
</form>