<%- include ("partials/header")%>
<title>New</title>
</head>
<body>
<h1>Create a new Campgrounds</h1>
<form action="/campgrounds" method="post">
    <input type="text" name="name">
    <input type="text" name="place">
    <input type="text" name="desc">
    <button type="submit">Submit</button>
</form>
<%- include ("partials/footer")%>
